<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/about.css">
    <style>
    p
    {
    color:#fff;
    }
        h3{
        color:#034f84;
      }
      h1
      {
      text-align:center;
      color:#034f84;
      }
      h2
      {
            color:#034f84;

      }
      body
      {

      background-color:#92a8d1;
      }

    </style>
</head>
<body>
<p>
<h1>About</h1>
<center>

    <img src="static/images/img.png" width="50%">


</center>
<br>
<h2>Complete medical solutions in one place</h2>
<br>
<div class="elementor-text-editor elementor-clearfix">
    <p>
        Our medical center serves as a regional referral, teaching hospital and provides renowned care for cardiac patients, women and infants.					</div>
</p>
</body>



<footer><br><br>
    <h3>Reach Us</h3>
<p>
   Dreamz Hospital(P) Ltd.,
N.H. Bypass, Kochi – 682028, Kerala, India
</p>
    </footer>
</html>