<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h2>Speciality Doctors</h2>
    <style>
    body{
        background-color:#80ced6;
        }
    </style>
</head>
<body>
<h3>Physician</h3>
<img src="static/images/physician.jpg" width="20%" height="10%"></img>
<br><br><a href="appointment">Dr. Sony Joseph Vadakkel</a>
<br><p>Senior Consultant Physician</p>
<p>Special Interests :
Providing primary and specialist diagnosis, treatment and care to adults in cases related to diseases in human organ systems.</p>

<br>
<h3>Paediatric</h3>
<img src="static/images/paediatric.jpg" width="20%" height="10%"></img>
<br><a href="appointment">Dr. P S Binu</a>
<p>Senior Consultant - General & Paediatric Surgeon</p>
<br><br>

<h3>ENT</h3>
<img src="static/images/ENT.jpg" width="20%" height="10%"></img>
<br><a href="appointment">Dr. V. D. Pradeep Kumar</a>
<br>
<p>HOD, Senior ENT Consultant & Surgeon</p>

<h3>Gynecology</h3>
<img src="static/images/gynecology.jpg" width="20%" height="10%"></img>
<br><a href="appointment">Dr. Sheela Sadasivan</a><br>


<p>Senior Consultant - Obstetrics & Gynaecology</p>
<p>Profile :
Senior Consultant in Ob&G with over 35 years experience in the field with various State Government hospitals and institutions in Kerala. Joined EMC in 2013.

Trained in – Advanced laparoscopy, Urogynaecology, No Scalpel Vasectomy, Laparoscopic sterilizatopn.
</p>

<p>
Special Interests :
High risk Obstetrics, Urogynaecology-TOT repair, Adolescent Paediatrics & Gynaecology, Family planning procedures, Diagnostic laparoscopy

</p>

<h3>Paediatric</h3>
<img src="static/images/paediatric1.jpg" width="20%" height="10%"></img>
<br><a href="appointment">Dr. M. Suma</a><br>
<p>Associate Consultant - Paediatrics & Neonatology</p>

</body>
</html>