<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="static/style.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="form">
            <h2>Login</h2>

            <div class="input">
      <div class="inputBox">
    <h2>Username</h2><input type="text" id="username" name="username"><br>
      </div>
            <div class="inputBox">
    <h2>Password</h2><input type="password" id="password" name="password"><br><br>
            </div>
                <div class="inputBox">

    <!--<button type="submit" id="submit" >Login</button>-->
                     <div class="inputBox">
                    <input type="submit" name="" value="Sign In">



           <!-- <p> <a href="#">Click Here</a></p>-->

                     </div>
     </div>
     </div>
    </div>
</form>
</body>
</html>